<div class="jumbotron mb-0 text-center text-white">
  <br>
  <br>
  <br>
  <br>
  <h4 class="display-3">Look for immersion; come with no expectation, and just enjoy the journey!</h3>
  <p class="lead"></p>
  <br>
  <a class="btn btn-outline-light btn-lg" href="#" role="button">Learn more</a>
</div>